<!DOCTYPE html>
<html>
  
  <head>
  <title>Bob's Burgers</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    {% include 'navbar.html' %}
    <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSheet">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
              <h1 class="modal-title fs-5">Your Order Has Been Placed</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body py-0">
              <p>Order Number: {{order['order-id']}}<br>Status: {{order['status']}}<br><br>Thank you for your order!</p>
            </div>
            <div class="modal-footer flex-column align-items-stretch w-100 gap-2 pb-3 border-top-0">
              <a class="btn btn-lg btn-primary" type="button" href="{{url_for('menu')}}">Close</a>
            </div>
          </div>
        </div>
      </div>  
    {% include 'footer.html' %}
  </body>
</html>