<!DOCTYPE html>
<html>
  <head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div style="text-align: right;"><img src="static/hamburger.png" width="200" alt="My Image" /></div>
      <h1>Account</h1>
      <div class="row">
        <div class="col-6">
          <p>Name: {{user['first-name']}} {{user['last-name']}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p>Email: {{user['email']}}</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6">
          <p>Password: xxxxxxxxxxx</p>
        </div>
      </div>
      
      <div class="container">
        <a class="btn btn-outline-success btn-lg" role="button" href="{{url_for('edit_account')}}">Edit</a>
      </div>
    </div>
  </body>
  
</html>